* {
    background-color: #F0EBD8;
    color: #1D2D44;
    font-family: 'Kalnia', serif;
}

#content {
    position: relative;
    top: 1%;
    left: 0%;
    width: auto;
    height: 100%;
    min-height: 600px;
}

.naked-code {
    font-size: 18px;
    color: rgb(62, 92, 118, 0.3);
}

.first-level-identation {
    margin-left: 25px;
    width: auto;

}

.second-level-identation {
    margin-left: 50px;
    width: auto;

}

.third-level-identation {
    margin-left: 75px;
    width: auto;

}

h1 {
    font-size: 9.5em;
    font-weight: 500;
    line-height: 0px;
}

h2 {
    font-size: 6em;
    line-height: 0px;
}

h3 {
    font-size: 2.7em;
    font-weight: 500;
    line-height: 0px;
}

p {
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    vertical-align: baseline;
    margin:10px;
}
button {
    margin: 5px;
    width: auto !important;
    background-color: rgb(29, 45, 68);
    color: rgb(240, 235, 216);
    font-size: 18px;
    border-radius: 25px;
    padding: 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a {
    text-decoration: underline;
    color: #1D2D44;
}

a:hover {
    font-style: italic;
}
